<div class="container-fluid fill">
  <div class="fill" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title>The coffee house</mat-card-title>
      <mat-card-content>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput type="text" placeholder="Username" required formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" required formControlName="password">
          </mat-form-field>
          <p class="error" *ngIf="error">{{error}}</p>
          <button mat-button class="btn-login" type="submit">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>